{{#isFormParam}}{{^isFile}}{{{dataType}}} {{paramName}}{{/isFile}}{{#isFile}}{{^isListContainer}}InputStream {{paramName}}InputStream, Attachment {{paramName}}Detail{{/isListContainer}}{{#isListContainer}}List<InputStream> {{paramName}}InputStream, List<Attachment> {{paramName}}Detail{{/isListContainer}}{{/isFile}}{{/isFormParam}}